@model IEnumerable<SeniorProject.Models.MASTER_BANK>

<table id="JsonTable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-align-left">ลำดับ</th>
            <th class="text-align-left">ชื่อธนาคาร</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Rows = 1;
            foreach (var Get in Model.OrderBy(f => f.banktype_id))
            {
                <tr>
                    <td class="text-align-center" width="50">@Rows.</td>
                    <td>@Get.banktype_name  </td>
                </tr>
                Rows++;
            }
        }
    </tbody>
</table>
