@{
    ViewData["Title"] = "รายชื่อนักศึกษาที่สมัครงาน";
}

<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <ol class="breadcrumb">
        <li>รายชื่อนักศึกษาที่สมัครงาน</li>
    </ol>
</div>

@section Scripts{
    <script src="~/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
}