@{
    ViewData["Title"] = "รายชื่อนักศึกษาที่สมัครงาน";
}

<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <ol class="breadcrumb">
        <li>รายชื่อนักศึกษาที่สมัครงาน</li>
    </ol>
</div>
<div id="content">
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header role="heading">
                        <h2 class="font-md">นักศึกษาที่สมัครงาน</h2>
                        <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                    <div role="contentinfo" style="display: block;">
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body">

                            <div id="JsonData" class="table-responsive"></div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts{
    <script src="~/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script type="text/javascript" src="/js/Teacher/ListStudent.js"></script>
}
