@model SeniorProject.Models.TRANSACTION_REGISTER

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "สมัครงาน";
}


<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">@ViewBag.jobname</h2>
        </div>
        <fieldset>
            <form asp-action="FormRegisterJob"
                  method="post"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <label for="exampleFormControlInput1" style="font-size:20px">สาเหตุในการสมัครงาน</label>
                    <textarea class="form-control" placeholder="อธิบาย..." asp-for="because_job"
                              required></textarea>
                </div>

                <div class="form-group">
                    <br>
                    <label for="exampleFormControlSelect1" style="font-size:20px">ธนาคาร</label>
                    @Html.DropDownList("banktype_id", (IEnumerable<SelectListItem>)ViewBag.Bank, new { @class = "form-control" })
                </div>

                <div>
                    <br>
                    <label for="exampleFormControlInput1" style="font-size:20px">เลขที่บัญชี (ไม่ต้องใส่ขีด)</label>
                    <input type="text" class="form-control" asp-for="bank_no"
                           required />
                </div>

                <div>
                    <br>
                    <label for="exampleFormControlInput1" style="font-size:20px">สาขาธนาคาร</label>
                    <input type="text" class="form-control" asp-for="bank_store"
                           required />
                </div>

                <div class="form-group">
                    <br>
                    <label for="exampleFormControlSelect1" style="font-size:20px">สำเนาสมุดบัญชีธนาคาร (พร้อมเซ็นรับรอง)</label>
                    <div class="custom-file">
                        <input asp-for="bank_file" class="form-control custom-file-input" type="file" name="bank_file"
                               pattern="([a-zA-Z0-9\s_\\.\-\(\):])+(.pdf)$"
                               required />
                    </div>
                    <div class="small text-muted mt-2">อัปโหลดไฟล์ PDF เท่านั้น </div>
                </div>

                <div class="col-md-12" style="text-align:left">
                    <br>
                    <button class="btn btn-success" type="submit" id="submit"> สมัครงาน</button>
                </div>

                <input type="hidden" asp-for="transaction_job_id">

            </form>
        </fieldset>
    </div>
    <div class="text-center mb-5">
        <a class="btn" type="button" style="font-size:20px;background-color:#312E81" a href="@Url.Action("Job","Student")"><font color="#F8FAFC">BACK</font></a>
    </div>
</section>

@section Frontend{
    <script type="text/javascript">
        
    </script>
}
