@model SeniorProject.Models.TRANSACTION_WORKING

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "บันทึกเวลาเข้า/ออกงาน";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            @*<h2 class="fw-bolder">@ViewBag.jobname</h2>*@
        </div>
        <fieldset>
            <form asp-action="FormEndWorking"
                  method="post"
                  enctype="multipart/form-data" >

                <div class="form-group">
                    <label for="exampleFormControlInput1" style="font-size:20px">รายละเอียดการทำปฎิบัติงาน</label>
                    <textarea class="form-control" placeholder="อธิบาย..." asp-for="detail_working"
                              required></textarea>
                </div>

                <div class="form-group">
                    <br>
                    <label for="exampleFormControlSelect1" style="font-size:20px">ไฟล์งานที่นักศึกษาได้ปฎิบัติ หรือ ภาพถ่าย ณ ตอนที่กำลังจะปฎิบัติงาน</label>
                    <div class="custom-file">
                        <input asp-for="file_work_end" class="form-control custom-file-input" type="file" name="file_end" required/>
                    </div>
                </div>

                <div class="col-md-12" style="text-align:left">
                    <br>
                    <button class="btn btn-success" type="submit" id="submit"> บันทึก</button>
                </div>

                <input type="hidden" asp-for="transaction_register_id">
                <input type="hidden" asp-for="transaction_working_id">
                <input type="hidden" asp-for="transaction_job_id">
                <input type="hidden" asp-for="start_work">
                <input type="hidden" asp-for="file_work_start">

            </form>
        </fieldset>
    </div>
    <div class="text-center mb-5">
        <a class="btn" type="button" style="font-size:25px;background-color:#312E81" a href="@Url.Action("ListWorking","Student")"><font color="#F8FAFC">ย้อนกลับ</font></a>
    </div>
</section>

@section Frontend{
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.valid == true) {
                            sweetAlert({
                                title: response.message
                            });
                            setTimeout(function () {
                                window.location.href = "/Student/HistoryWorking";
                            }, 2000)
                        } else {
                            sweetAlert({
                                title: response.message,
                                timeout: 3000
                            });
                        }
                    }
                });
                return false;
            });
        });
    </script>
}

