@model SeniorProject.Models.TRANSACTION_REGISTER

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "สมัครงาน";
}
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1" style="font-size:20px">สาเหตุในการสมัครงาน</label>
                <textarea class="form-control" placeholder="อธิบาย..."></textarea>
            </div>
            <div class="form-group">
                <br>
                <label for="exampleFormControlSelect1" style="font-size:20px">ประเภทธนาคาร</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>กรุงศรี</option>
                    <option>ไทยพาณิชย์</option>
                    <option>กรุงเทพ</option>
                    <option>กสิกรไทย</option>
                    <option>กรุงไทย</option>
                </select>
            </div>
            <div>
                <br>
                <label for="exampleFormControlInput1" style="font-size:20px">เลขที่บัญชี</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <br>
                <label for="exampleFormControlSelect1" style="font-size:20px">สำเนาสมุดบัญชีธนาคาร (พร้อมเซ็นรับรอง)</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" />
                <div class="small text-muted mt-2">อัปโหลดไฟล์ สำเนาสมุดบัญชีธนาคาร พร้อมเซ็นรับรอง. ขนาดไฟล์ไม่เกิน 50 MB</div>
            </div>
            <div class="col-md-12" style="text-align:left">
                <br>
                <button class="btn btn-success" type="button" id="submit"><i class="fa fa-save"></i> บันทึก</button>
            </div>
            <input type="hidden" asp-for="transaction_job_id">
        </form>
    </div>
</section>

