@model SeniorProject.Models.TRANSACTION_REGISTER

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "สมัครงาน";
}


<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">@ViewBag.jobname</h2>
        </div>
        <fieldset>
            <form asp-action="FormEditRegister"
                  method="post"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <label for="exampleFormControlInput1" style="font-size:20px">สาเหตุในการสมัครงาน</label>
                    <textarea class="form-control" placeholder="อธิบาย..." asp-for="because_job"
                              required></textarea>
                </div>

                <div>
                    <br>
                    <label for="exampleFormControlInput1" style="font-size:20px">เบอร์โทรศัพท์</label>
                    <input type="text" class="form-control" asp-for="tel_no"
                           maxlength="10"
                           required />
                </div>

                <div class="form-group">
                    <br>
                    <label for="exampleFormControlSelect1" style="font-size:20px">ธนาคาร</label>
                    @Html.DropDownList("banktype_id", (IEnumerable<SelectListItem>)ViewBag.Bank, new { @class = "form-control" })
                </div>

                <div>
                    <br>
                    <label for="exampleFormControlInput1" style="font-size:20px">เลขที่บัญชี (ไม่ต้องใส่ขีด)</label>
                    <input type="text" class="form-control" asp-for="bank_no"
                           maxlength="15"
                           required />
                </div>

                <div>
                    <br>
                    <label for="exampleFormControlInput1" style="font-size:20px">สาขาธนาคาร</label>
                    <input type="text" class="form-control" asp-for="bank_store"
                           required />
                </div>

                <div class="form-group">
                    <br>
                    <label for="exampleFormControlSelect1" style="font-size:20px">สำเนาสมุดบัญชีธนาคาร (พร้อมเซ็นรับรอง)</label>
                    <div class="custom-file">
                        <input asp-for="bank_file" class="form-control custom-file-input" type="file" name="bank_file"
                               required />
                    </div>
                    <div class="small text-muted mt-2">กรุณาตั้งชื่อไฟล์เป็นชื่อเเละนามสกุลของตัวเอง (อัปโหลดเป็นไฟล์ PDF เท่านั้น) </div>
                </div>

                <div class="col-md-12" style="text-align:left">
                    <br>
                    <button class="btn btn-success" type="submit" id="submit"> บันทึก</button>
                </div>

                <input type="hidden" asp-for="transaction_job_id">
                <input type="hidden" asp-for="transaction_register_id">
                <input type="hidden" asp-for="status_id">
                <input type="hidden" asp-for="UserId">
                <input type="hidden" asp-for="approve_date">
                <input type="hidden" asp-for="approve_devstudent_date">
                <input type="hidden" asp-for="approve_teacher_date">
                <input type="hidden" asp-for="notapprove_date">
                <input type="hidden" asp-for="register_date">

            </form>
        </fieldset>
    </div>
    <div class="text-center mb-5">
        <a class="btn" type="button" style="font-size:20px;background-color:#312E81" a href="@Url.Action("HistoryRegister","Student")"><font color="#F8FAFC">BACK</font></a>
    </div>
</section>

@section Frontend{
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.valid == true) {
                            sweetAlert({
                                title: response.message
                            });
                            setTimeout(function () {
                                window.location.href = "/Student/HistoryRegister";
                            }, 2000)
                        } else {
                            sweetAlert({
                                title: response.message,
                                timeout: 3000
                            });
                        }
                    }
                });
                return false;
            });
        });
    </script>
}