@model IEnumerable<SeniorProject.ViewModels.Student.HistoryRegister>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "ประวัติการสมัครงาน";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">ประวัติการสมัครงาน</h2>
            <p class="lead mb-0">History Register</p>
        </div>
        <section class="gradient-custom-5">
            <div class="container py-5">
                <div class="main-timeline-5">
                    <div class="timeline-5 right-5">
                        @{
                            int Rows = 1;
                            foreach (var Gets in Model.OrderBy(f => f.register_date))
                            {
                                <div class="card">
                                    <div class="card-body p-4">
                                        <h5>@Gets.name</h5>
                                        <span class="small text-muted"><i class="fas fa-clock me-1"></i>@Gets.register_date</span>
                                        <p class="mt-2 mb-0">
                                            @Gets.detail
                                        </p>
                                    </div>
                                </div>
                            }
                            Rows++;
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>