@model IEnumerable<SeniorProject.Models.TRANSACTION_REGISTER>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "ประวัติการสมัครงาน";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">ประวัติการสมัครงาน</h2>
            <p class="lead mb-0">History Register</p>
        </div>
        <section class="gradient-custom-5">
            <div class="container py-5">
                <div class="main-timeline-5">
                    <div class="timeline-5 right-5">
                        <div class="card">
                            <div class="card-body p-4">
                                <h5>ชื่องาน</h5>
                                <span class="small text-muted"><i class="fas fa-clock me-1"></i></span>
                                <p class="mt-2 mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque
                                    diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis
                                    sagittis ligula in sodales vehicula....
                                </p>
                                @*@{
                                    int Rows = 1;
                                    foreach (var Gets in Model.OrderBy(f => f.transaction_job_id))
                                    {
                                        <h5>ชื่องาน</h5>
                                        <span class="small text-muted"><i class="fas fa-clock me-1"></i>@Gets.register_date</span>
                                        <p class="mt-2 mb-0">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque
                                            diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis
                                            sagittis ligula in sodales vehicula....
                                        </p>

                                    }
                                    Rows++;
                                }*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>