@using Microsoft.AspNetCore.Identity
@using SeniorProject.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Part-Time Rmutt</title>
    <!-- Favicon-->
    <link rel="icon" type="/image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">ระบบการจัดการหารายได้เสริมระหว่างเรียนสำหรับนักศึกษา</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">เข้าสู่ระบบ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">เกี่ยวกับ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">ติดต่อ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://drive.google.com/file/d/189ARuyYMDBd_rgoXN0s5NRXBV_b8Y_OK/view?usp=sharing" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">ระบบต้นแบบ <br />PART TIME RMUTT </h1>
                <p>ระบบต้นแบบการจัดหารายได้เสริมระหว่างเรียนสำหรับนักศึกษา<br />
                   ภายในมหาวิทยาลัยเทคโนโลยีราชมงคล ธัญบุรี มีการจัดหางานเพื่อให้นักศึกษามีรายได้เสริม โดยทางมหาวิทยาลัยจะมีงบประมาณให้แล้วแจกจ่ายไปตามหน่วยงานและคณะต่างๆ
เพื่อจ้างงานนักศึกษาที่ขาดแคลนด้านการเงิน โดยจะมีระบบในการจัดการของในส่วนงานหารายได้เสริมของนักศึกษา </p>
                <a class="btn btn-outline-light" style="background-color:#FF0099; color:white;" href="#!">สมัครงาน ? </a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0" >งานเสริมสำหรับนักศึกษาภายใน มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี<br>Part-Time Rajamangala University of Technology Thanyaburi (RMUTT)</p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card One</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-white btn-sm"style="background-color:#FF0099; color:white;" href="#!">สมัครงาน</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Two</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer" ><a class="btn btn-white btn-sm"style="background-color:#FF0099; color:white;" href="#!">สมัครงาน</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Three</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-white btn-sm"style="background-color:#FF0099; color:white;" href="#!">สมัครงาน</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Part-Time Rajamangala University of Technology Thanyaburi (RMUTT)</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <div id="main" role="main">

        @RenderBody()

    </div>

    @RenderSection("Scripts",required: false)

    <script type="text/javascript">

        $(document).ready(function () {
            pageSetUp();
        })

    </script>
</body>
</html>
