@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
    ViewData["Title"] = "รายชื่อนักศึกษาที่สมัครงานทั้งหมดในมหาวิทยาลัย";
}

<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <ol class="breadcrumb">
        <li>รายชื่อนักศึกษาที่สมัครงาน</li>
    </ol>
</div>
<div id="content">
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                <a class="btn btn-success AllApprove" id="@ViewBag.id" onclick="AllApprove('@ViewBag.id')" value="AllApprove"><i class="fa fa-check-circle"></i>  อนุมัติทั้งหมด</a>
                <button class="btn btn-primary" id="ExportExcel"><i class="fa fa-file-excel-o"></i> Export Excel</button>
            </article>
        </div>
    </section>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header role="heading">
                        <h2 class="font-md">รายชื่อนักศึกษาที่สมัครงาน</h2>
                        <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                    <div role="contentinfo" style="display: block;">
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body">

                            <div id="JsonData" class="table-responsive"></div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts{
    <script src="~/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script type="text/javascript" src="~/js/DepartmentDevStudent/AllListStudent.js" ></script>
    <script type="text/javascript">
        function AllApprove(id) {
            $.SmartMessageBox({
                title: "ต้องการอนุมัติรายการสมัครงานของนักศึกษาทั้งหมดใช่หรือไม่ ?",
                buttons: "[ไม่][ใช่]"
            }, function (ButtonPressed) {
                if (ButtonPressed == "ใช่") {
                    $.ajax({
                        url: '/DepartmentDevStudent/AllApprove',
                        type: 'POST',
                        data: { "id": id },
                        success: function (response) {
                            if (response.valid == true) {
                                $.smallBox({
                                    title: response.message,
                                    content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                    color: "#296191",
                                    iconSmall: "fa fa-thumbs-up bounce animated",
                                    timeout: 1000
                                });
                                setTimeout(function () {
                                    window.location.href = "/DepartmentDevStudent/AllListStudent";
                                }, 1000)
                            } else {
                                $.smallBox({
                                    title: response.message,
                                    content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                    color: "#FB0404",
                                    iconSmall: "fa fa-thumbs-up bounce animated",
                                    timeout: 1000
                                });
                            }
                        }
                    });
                }
                if (ButtonPressed == "ไม่") {

                }
            })
        }
    </script>
}
