@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>เข้าสู่ระบบเจ้าหน้าที่</title>
    <!-- MDB icon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="/css/bootstrap-login-form.min.css" />
</head>

<body>
    <!-- Start your project here-->

    <style>
        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #fccb90;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        }
    </style>

    <section class="h-100 gradient-form" style="background-color: white;">
        <div class="container py-5 h-100">
            <br /><br /><br />
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0" style="background-color:#F5F5F5">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="/img/Logo5555.png" style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">PART TIME RMUTT</h4>
                                    </div>

                                    <form id="account" method="post">
                                        <p></p>

                                        <div class="form-outline mb-4">
                                            <input asp-for="Input.Username" id="form2Example11" class="form-control"  style="background-color:white" />
                                            <label asp-for="Input.Username" class="form-label" >Username</label>
                                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input asp-for="Input.Password" id="form2Example22" class="form-control" style="background-color:white" />
                                            <label asp-for="Input.Password" class="form-label" >Password</label>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Log in</button>
                                            @*<a class="text-muted" href="#!">Forgot password?</a>*@
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">We are more than just a company</h4>
                                    <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End your project here-->
</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}